h1,
h2,
h3 {
    color: darkolivegreen;
    font-family: sans-serif;
}



html {

    background-color: #cdd1bf;
}

button {
    background-color: #cdd1bf;
    color: darkolivegreen;
    border: 0;
    padding: 2%;
}


.test-div {
    background-color: #6f8d7cbe;
    padding: 5%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    object-fit: contain; 

}

.my-flex {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.mainpage {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}


.header {
    width: 100%;
    text-align: center;
    justify-content: center;
    background: #6f8d7cbe;
    color: white;
    font-size: 30px;
}